.container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.riquadro {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.riquadro h3 {
  font-size: 25px;
  color: white;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

